In [2]:
import pandas as pd
import numpy as np

In [18]:
baby_df = pd.read_csv("./babyInfo.csv")
baby_df

,_id,days,desc,gender,__v,growth
0,6355f90b520fc1161d430b2a,0,20일 mn 부터 21 md 꼬박 열두시간을 \n유도분만 끝에 실패 .....c/...,F,0,NaN
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
2,6261cb9eee57fb52c7c7210a,0,4월 21일 목요일\n\n밤 9시 병원 \n자궁수축 50\n경부 1cm\n진통 심함...,F,0,NaN
3,61938fa93433d7ca11307585,0,내일이면 우리 또복이 곧 태여날 것입니다~엄마 아빠 너무너무 셀레고 긴장되고 기대가...,M,0,NaN
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."
228299,60084b1aff925e1bdd5a5453,135,드디어 백일촬영 끝~~\n총 4콘셉을 찍는건데 처음에 갔을때 두컨셉 찍고\n오늘 나...,F,0,NaN
228300,60011980ff925e1bdd37c058,135,낮잠 안자고도 밤잠 안자려 버틴다. 3번 실패후 4번째 눕히자 혼자 중얼거리다가 잠...,F,0,NaN
228301,5fed0afcb404d75b9e45b63b,135,혼자 뒤집기 성공,M,0,NaN
228302,5feb0d6aa239f2047cc8c0a2,135,누워만 있을 때는 얼른 뒤집었으면 좋겠다 했는데\n뒤집고 보니 지옥이고\n미친듯이 ...,F,0,NaN

In [19]:
baby_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228303 entries, 0 to 228302
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     228303 non-null  object
 1   days    228303 non-null  int64
 2   desc    172609 non-null  object
 3   gender  228301 non-null  object
 4   __v     228303 non-null  int64
 5   growth  113527 non-null  object
dtypes: int64(2), object(4)
memory usage: 10.5+ MB

In [20]:
baby_df.isna().sum()

_id            0
days           0
desc       55694
gender         2
__v            0
growth    114776
dtype: int64

In [24]:
baby_growth_df = baby_df.dropna(subset=['growth'])
baby_growth_df

,_id,days,desc,gender,__v,growth
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
6,5f2029e1d00f40614904254f,0,"d-1, 예정일보다 하루빨리 태어난 우리 꼬물이ღ\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ..."
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ..."
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"분유 양이 줄어 걱정햇는데 잘크고 있다\n태어난 몸무게 딱 2배 됏구,\n\n피부 ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ..."
228293,603e8290de6eeaaca4b8a535,135,여원이 뒤집기 반 성공!\n반성공인 이유는 스스로 별로 뒤집을 생각은 없음\n그러나...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':..."
228294,603c9529c5f15932e1040246,135,"4개월 11일 (134day) 발달기록\n꺄르르 꺄르르 웃는, 예뻐서 죽을 것 같은...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'..."
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ..."
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."

In [25]:
baby_growth_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113527 entries, 1 to 228298
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     113527 non-null  object
 1   days    113527 non-null  int64
 2   desc    59477 non-null   object
 3   gender  113527 non-null  object
 4   __v     113527 non-null  int64
 5   growth  113527 non-null  object
dtypes: int64(2), object(4)
memory usage: 6.1+ MB

In [33]:
baby_growth_df['growth']

1         {'weight': {'value': 2.77, 'unit': 'kg', 'std'...
4         {'height': {'value': 49, 'unit': 'cm', 'std': ...
6         {'height': {'value': 47, 'unit': 'cm', 'std': ...
7         {'height': {'value': 55, 'unit': 'cm', 'std': ...
10        {'height': {'value': 50, 'unit': 'cm', 'std': ...
                                ...
228292    {'height': {'value': 67, 'unit': 'cm', 'std': ...
228293    {'weight': {'value': 8.1, 'unit': 'kg', 'std':...
228294    {'height': {'value': 65.5, 'unit': 'cm', 'std'...
228297    {'height': {'value': 70, 'unit': 'cm', 'std': ...
228298    {'weight': {'value': 7.3, 'unit': 'kg', 'std':...
Name: growth, Length: 113527, dtype: object

In [38]:
baby_growth_df.isna().sum()

_id           0
days          0
desc      54050
gender        0
__v           0
growth        0
dtype: int64

In [40]:
#baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x['height']['value']) -> 에러
#baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x['weight']['value']) -> 에러
import ast
baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval)
baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x.get('height', {}).get('value', None))
baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x.get('weight', {}).get('value', None))

C:\Users\김주영\AppData\Local\Temp/ipykernel_25220/3162808437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval)
C:\Users\김주영\AppData\Local\Temp/ipykernel_25220/3162808437.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['height'] = baby_growth_df['growth'].apply(
C:\Users\김주영\AppData\Local\Temp/ipykernel_25220/3162808437.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['weight'] = baby_growth_df['growth'].apply(

In [41]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, 예정일보다 하루빨리 태어난 우리 꼬물이ღ\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"분유 양이 줄어 걱정햇는데 잘크고 있다\n태어난 몸무게 딱 2배 됏구,\n\n피부 ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,여원이 뒤집기 반 성공!\n반성공인 이유는 스스로 별로 뒤집을 생각은 없음\n그러나...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4개월 11일 (134day) 발달기록\n꺄르르 꺄르르 웃는, 예뻐서 죽을 것 같은...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30

In [48]:
baby_growth_df['height'].isna().sum()

69522

In [50]:
baby_growth_df['weight'].isna().sum()

1311

In [52]:
baby_growth_df[baby_growth_df['weight'].isna() & baby_growth_df['height'].isna()]

,_id,days,desc,gender,__v,growth,height,weight
2239,63490ebc4f30a39628aefdc9,19,어찌저찌 어제보다는 오늘 한결 수월하다!\n그래도 할일은 너무 많고\n너가 울면 어...,M,0,"{'head': {'value': 37, 'unit': 'cm', 'std': 37}}",NaN,NaN
6393,63a96fee0ec395c9ce32feb3,54,NaN,M,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9350,6325346f204f507df3e5a1b3,78,78일차 아가 성장표\n\n🎀모빌도 좋아하지만 이제는 아기체육관을 더 좋아함\n🎀잘...,F,0,"{'head': {'value': 41, 'unit': 'cm', 'std': 41}}",NaN,NaN
9414,638bd1daffe5f9567ae18982,79,🤎11시간 통잠 4일차 \n🤎밤잠 시작 시간을 7:30pm으로 본인이 정한 듯함\n...,F,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9920,63639f4e7382e0031c9b5560,83,NaN,M,0,"{'head': {'value': 39.6, 'unit': 'cm', 'std': ...",NaN,NaN
...,...,...,...,...,...,...,...,...
223985,590c7241b9ede03a5c586eb9,131,NaN,M,0,"{'head': {'std': 43, 'value': 43, 'unit': 'cm'}}",NaN,NaN
224346,61080e04babd662a6282d83c,132,NaN,M,0,"{'head': {'value': 42.5, 'unit': 'cm', 'std': ...",NaN,NaN
225178,59bfb0b41787fa4328598fe9,132,NaN,M,0,"{'head': {'unit': 'cm', 'value': 43, 'std': 43}}",NaN,NaN
226391,5a1cb41c01a81b7476aa0877,133,NaN,M,0,"{'head': {'value': 42.9, 'unit': 'cm', 'std': ...",NaN,NaN
227432,5c7924b0f69662488be8eea4,134,누워서 낮잠도 예쁘게 잘자고 잘놀고 이쁜짓을 많이 해서 할아버지가 하루종일 이쁘다고...,F,0,"{'head': {'std': 42, 'value': 42, 'unit': 'cm'}}",NaN,NaN

In [61]:
baby_growth_df = baby_growth_df.dropna(axis='index', how='all', subset=['height','weight'])

In [62]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, 예정일보다 하루빨리 태어난 우리 꼬물이ღ\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"분유 양이 줄어 걱정햇는데 잘크고 있다\n태어난 몸무게 딱 2배 됏구,\n\n피부 ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,여원이 뒤집기 반 성공!\n반성공인 이유는 스스로 별로 뒤집을 생각은 없음\n그러나...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4개월 11일 (134day) 발달기록\n꺄르르 꺄르르 웃는, 예뻐서 죽을 것 같은...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30