In [2]:
import pandas as pd
import numpy as np

In [18]:
baby_df = pd.read_csv("./babyInfo.csv")
baby_df

,_id,days,desc,gender,__v,growth
0,6355f90b520fc1161d430b2a,0,20ì¼ mn ë¶€í„° 21 md ê¼¬ë°• ì—´ë‘ì‹œê°„ì„ \nìœ ë„ë¶„ë§Œ ëì— ì‹¤íŒ¨ .....c/...,F,0,NaN
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
2,6261cb9eee57fb52c7c7210a,0,4ì›” 21ì¼ ëª©ìš”ì¼\n\në°¤ 9ì‹œ ë³‘ì› \nìê¶ìˆ˜ì¶• 50\nê²½ë¶€ 1cm\nì§„í†µ ì‹¬í•¨...,F,0,NaN
3,61938fa93433d7ca11307585,0,ë‚´ì¼ì´ë©´ ìš°ë¦¬ ë˜ë³µì´ ê³§ íƒœì—¬ë‚ ê²ƒì…ë‹ˆë‹¤~ì—„ë§ˆ ì•„ë¹ ë„ˆë¬´ë„ˆë¬´ ì…€ë ˆê³ ê¸´ì¥ë˜ê³ ê¸°ëŒ€ê°€...,M,0,NaN
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."
228299,60084b1aff925e1bdd5a5453,135,ë“œë””ì–´ ë°±ì¼ì´¬ì˜ ë~~\nì´ 4ì½˜ì…‰ì„ ì°ëŠ”ê±´ë° ì²˜ìŒì— ê°”ì„ë•Œ ë‘ì»¨ì…‰ ì°ê³ \nì˜¤ëŠ˜ ë‚˜...,F,0,NaN
228300,60011980ff925e1bdd37c058,135,ë‚®ì ì•ˆìê³ ë„ ë°¤ì ì•ˆìë ¤ ë²„í‹´ë‹¤. 3ë²ˆ ì‹¤íŒ¨í›„ 4ë²ˆì§¸ ëˆ•íˆì í˜¼ì ì¤‘ì–¼ê±°ë¦¬ë‹¤ê°€ ì ...,F,0,NaN
228301,5fed0afcb404d75b9e45b63b,135,í˜¼ì ë’¤ì§‘ê¸° ì„±ê³µ,M,0,NaN
228302,5feb0d6aa239f2047cc8c0a2,135,ëˆ„ì›Œë§Œ ìˆì„ ë•ŒëŠ” ì–¼ë¥¸ ë’¤ì§‘ì—ˆìœ¼ë©´ ì¢‹ê² ë‹¤ í–ˆëŠ”ë°\në’¤ì§‘ê³ ë³´ë‹ˆ ì§€ì˜¥ì´ê³ \në¯¸ì¹œë“¯ì´ ...,F,0,NaN

In [19]:
baby_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228303 entries, 0 to 228302
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     228303 non-null  object
 1   days    228303 non-null  int64
 2   desc    172609 non-null  object
 3   gender  228301 non-null  object
 4   __v     228303 non-null  int64
 5   growth  113527 non-null  object
dtypes: int64(2), object(4)
memory usage: 10.5+ MB

In [20]:
baby_df.isna().sum()

_id            0
days           0
desc       55694
gender         2
__v            0
growth    114776
dtype: int64

In [24]:
baby_growth_df = baby_df.dropna(subset=['growth'])
baby_growth_df

,_id,days,desc,gender,__v,growth
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
6,5f2029e1d00f40614904254f,0,"d-1, ì˜ˆì •ì¼ë³´ë‹¤ í•˜ë£¨ë¹¨ë¦¬ íƒœì–´ë‚œ ìš°ë¦¬ ê¼¬ë¬¼ì´áƒ¦\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ..."
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ..."
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"ë¶„ìœ ì–‘ì´ ì¤„ì–´ ê±±ì •í–‡ëŠ”ë° ì˜í¬ê³ ìˆë‹¤\níƒœì–´ë‚œ ëª¸ë¬´ê²Œ ë”± 2ë°° ëêµ¬,\n\ní”¼ë¶€ ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ..."
228293,603e8290de6eeaaca4b8a535,135,ì—¬ì›ì´ ë’¤ì§‘ê¸° ë°˜ ì„±ê³µ!\në°˜ì„±ê³µì¸ ì´ìœ ëŠ” ìŠ¤ìŠ¤ë¡œ ë³„ë¡œ ë’¤ì§‘ì„ ìƒê°ì€ ì—†ìŒ\nê·¸ëŸ¬ë‚˜...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':..."
228294,603c9529c5f15932e1040246,135,"4ê°œì›” 11ì¼ (134day) ë°œë‹¬ê¸°ë¡\nêº„ë¥´ë¥´ êº„ë¥´ë¥´ ì›ƒëŠ”, ì˜ˆë»ì„œ ì£½ì„ ê²ƒ ê°™ì€...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'..."
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ..."
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."

In [25]:
baby_growth_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113527 entries, 1 to 228298
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     113527 non-null  object
 1   days    113527 non-null  int64
 2   desc    59477 non-null   object
 3   gender  113527 non-null  object
 4   __v     113527 non-null  int64
 5   growth  113527 non-null  object
dtypes: int64(2), object(4)
memory usage: 6.1+ MB

In [33]:
baby_growth_df['growth']

1         {'weight': {'value': 2.77, 'unit': 'kg', 'std'...
4         {'height': {'value': 49, 'unit': 'cm', 'std': ...
6         {'height': {'value': 47, 'unit': 'cm', 'std': ...
7         {'height': {'value': 55, 'unit': 'cm', 'std': ...
10        {'height': {'value': 50, 'unit': 'cm', 'std': ...
                                ...
228292    {'height': {'value': 67, 'unit': 'cm', 'std': ...
228293    {'weight': {'value': 8.1, 'unit': 'kg', 'std':...
228294    {'height': {'value': 65.5, 'unit': 'cm', 'std'...
228297    {'height': {'value': 70, 'unit': 'cm', 'std': ...
228298    {'weight': {'value': 7.3, 'unit': 'kg', 'std':...
Name: growth, Length: 113527, dtype: object

In [38]:
baby_growth_df.isna().sum()

_id           0
days          0
desc      54050
gender        0
__v           0
growth        0
dtype: int64

In [40]:
#baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x['height']['value']) -> ì—ëŸ¬
#baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x['weight']['value']) -> ì—ëŸ¬
import ast
baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval)
baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x.get('height', {}).get('value', None))
baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x.get('weight', {}).get('value', None))

C:\Users\ê¹€ì£¼ì˜\AppData\Local\Temp/ipykernel_25220/3162808437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval)
C:\Users\ê¹€ì£¼ì˜\AppData\Local\Temp/ipykernel_25220/3162808437.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['height'] = baby_growth_df['growth'].apply(
C:\Users\ê¹€ì£¼ì˜\AppData\Local\Temp/ipykernel_25220/3162808437.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['weight'] = baby_growth_df['growth'].apply(

In [41]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, ì˜ˆì •ì¼ë³´ë‹¤ í•˜ë£¨ë¹¨ë¦¬ íƒœì–´ë‚œ ìš°ë¦¬ ê¼¬ë¬¼ì´áƒ¦\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"ë¶„ìœ ì–‘ì´ ì¤„ì–´ ê±±ì •í–‡ëŠ”ë° ì˜í¬ê³ ìˆë‹¤\níƒœì–´ë‚œ ëª¸ë¬´ê²Œ ë”± 2ë°° ëêµ¬,\n\ní”¼ë¶€ ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,ì—¬ì›ì´ ë’¤ì§‘ê¸° ë°˜ ì„±ê³µ!\në°˜ì„±ê³µì¸ ì´ìœ ëŠ” ìŠ¤ìŠ¤ë¡œ ë³„ë¡œ ë’¤ì§‘ì„ ìƒê°ì€ ì—†ìŒ\nê·¸ëŸ¬ë‚˜...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4ê°œì›” 11ì¼ (134day) ë°œë‹¬ê¸°ë¡\nêº„ë¥´ë¥´ êº„ë¥´ë¥´ ì›ƒëŠ”, ì˜ˆë»ì„œ ì£½ì„ ê²ƒ ê°™ì€...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30

In [48]:
baby_growth_df['height'].isna().sum()

69522

In [50]:
baby_growth_df['weight'].isna().sum()

1311

In [52]:
baby_growth_df[baby_growth_df['weight'].isna() & baby_growth_df['height'].isna()]

,_id,days,desc,gender,__v,growth,height,weight
2239,63490ebc4f30a39628aefdc9,19,ì–´ì°Œì €ì°Œ ì–´ì œë³´ë‹¤ëŠ” ì˜¤ëŠ˜ í•œê²° ìˆ˜ì›”í•˜ë‹¤!\nê·¸ë˜ë„ í• ì¼ì€ ë„ˆë¬´ ë§ê³ \në„ˆê°€ ìš¸ë©´ ì–´...,M,0,"{'head': {'value': 37, 'unit': 'cm', 'std': 37}}",NaN,NaN
6393,63a96fee0ec395c9ce32feb3,54,NaN,M,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9350,6325346f204f507df3e5a1b3,78,78ì¼ì°¨ ì•„ê°€ ì„±ì¥í‘œ\n\nğŸ€ëª¨ë¹Œë„ ì¢‹ì•„í•˜ì§€ë§Œ ì´ì œëŠ” ì•„ê¸°ì²´ìœ¡ê´€ì„ ë” ì¢‹ì•„í•¨\nğŸ€ì˜...,F,0,"{'head': {'value': 41, 'unit': 'cm', 'std': 41}}",NaN,NaN
9414,638bd1daffe5f9567ae18982,79,ğŸ¤11ì‹œê°„ í†µì 4ì¼ì°¨ \nğŸ¤ë°¤ì ì‹œì‘ ì‹œê°„ì„ 7:30pmìœ¼ë¡œ ë³¸ì¸ì´ ì •í•œ ë“¯í•¨\n...,F,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9920,63639f4e7382e0031c9b5560,83,NaN,M,0,"{'head': {'value': 39.6, 'unit': 'cm', 'std': ...",NaN,NaN
...,...,...,...,...,...,...,...,...
223985,590c7241b9ede03a5c586eb9,131,NaN,M,0,"{'head': {'std': 43, 'value': 43, 'unit': 'cm'}}",NaN,NaN
224346,61080e04babd662a6282d83c,132,NaN,M,0,"{'head': {'value': 42.5, 'unit': 'cm', 'std': ...",NaN,NaN
225178,59bfb0b41787fa4328598fe9,132,NaN,M,0,"{'head': {'unit': 'cm', 'value': 43, 'std': 43}}",NaN,NaN
226391,5a1cb41c01a81b7476aa0877,133,NaN,M,0,"{'head': {'value': 42.9, 'unit': 'cm', 'std': ...",NaN,NaN
227432,5c7924b0f69662488be8eea4,134,ëˆ„ì›Œì„œ ë‚®ì ë„ ì˜ˆì˜ê²Œ ì˜ìê³ ì˜ë†€ê³ ì´ìœì§“ì„ ë§ì´ í•´ì„œ í• ì•„ë²„ì§€ê°€ í•˜ë£¨ì¢…ì¼ ì´ì˜ë‹¤ê³ ...,F,0,"{'head': {'std': 42, 'value': 42, 'unit': 'cm'}}",NaN,NaN

In [61]:
baby_growth_df = baby_growth_df.dropna(axis='index', how='all', subset=['height','weight'])

In [62]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, ì˜ˆì •ì¼ë³´ë‹¤ í•˜ë£¨ë¹¨ë¦¬ íƒœì–´ë‚œ ìš°ë¦¬ ê¼¬ë¬¼ì´áƒ¦\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"ë¶„ìœ ì–‘ì´ ì¤„ì–´ ê±±ì •í–‡ëŠ”ë° ì˜í¬ê³ ìˆë‹¤\níƒœì–´ë‚œ ëª¸ë¬´ê²Œ ë”± 2ë°° ëêµ¬,\n\ní”¼ë¶€ ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,ì—¬ì›ì´ ë’¤ì§‘ê¸° ë°˜ ì„±ê³µ!\në°˜ì„±ê³µì¸ ì´ìœ ëŠ” ìŠ¤ìŠ¤ë¡œ ë³„ë¡œ ë’¤ì§‘ì„ ìƒê°ì€ ì—†ìŒ\nê·¸ëŸ¬ë‚˜...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4ê°œì›” 11ì¼ (134day) ë°œë‹¬ê¸°ë¡\nêº„ë¥´ë¥´ êº„ë¥´ë¥´ ì›ƒëŠ”, ì˜ˆë»ì„œ ì£½ì„ ê²ƒ ê°™ì€...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30