In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

### ë°ì´í„° ìˆ˜ì§‘, ì¤€ë¹„

In [3]:
baby_df = pd.read_csv("./babyInfo.csv")
baby_df

,_id,days,desc,gender,__v,growth
0,6355f90b520fc1161d430b2a,0,20ì¼ mn ë¶€í„° 21 md ê¼¬ë°• ì—´ë‘ì‹œê°„ì„ \nìœ ë„ë¶„ë§Œ ëì— ì‹¤íŒ¨ .....c/...,F,0,NaN
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
2,6261cb9eee57fb52c7c7210a,0,4ì›” 21ì¼ ëª©ìš”ì¼\n\në°¤ 9ì‹œ ë³‘ì› \nìê¶ìˆ˜ì¶• 50\nê²½ë¶€ 1cm\nì§„í†µ ì‹¬í•¨...,F,0,NaN
3,61938fa93433d7ca11307585,0,ë‚´ì¼ì´ë©´ ìš°ë¦¬ ë˜ë³µì´ ê³§ íƒœì—¬ë‚ ê²ƒì…ë‹ˆë‹¤~ì—„ë§ˆ ì•„ë¹ ë„ˆë¬´ë„ˆë¬´ ì…€ë ˆê³ ê¸´ì¥ë˜ê³ ê¸°ëŒ€ê°€...,M,0,NaN
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."
228299,60084b1aff925e1bdd5a5453,135,ë“œë””ì–´ ë°±ì¼ì´¬ì˜ ë~~\nì´ 4ì½˜ì…‰ì„ ì°ëŠ”ê±´ë° ì²˜ìŒì— ê°”ì„ë•Œ ë‘ì»¨ì…‰ ì°ê³ \nì˜¤ëŠ˜ ë‚˜...,F,0,NaN
228300,60011980ff925e1bdd37c058,135,ë‚®ì ì•ˆìê³ ë„ ë°¤ì ì•ˆìë ¤ ë²„í‹´ë‹¤. 3ë²ˆ ì‹¤íŒ¨í›„ 4ë²ˆì§¸ ëˆ•íˆì í˜¼ì ì¤‘ì–¼ê±°ë¦¬ë‹¤ê°€ ì ...,F,0,NaN
228301,5fed0afcb404d75b9e45b63b,135,í˜¼ì ë’¤ì§‘ê¸° ì„±ê³µ,M,0,NaN
228302,5feb0d6aa239f2047cc8c0a2,135,ëˆ„ì›Œë§Œ ìˆì„ ë•ŒëŠ” ì–¼ë¥¸ ë’¤ì§‘ì—ˆìœ¼ë©´ ì¢‹ê² ë‹¤ í–ˆëŠ”ë°\në’¤ì§‘ê³ ë³´ë‹ˆ ì§€ì˜¥ì´ê³ \në¯¸ì¹œë“¯ì´ ...,F,0,NaN

In [4]:
baby_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228303 entries, 0 to 228302
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     228303 non-null  object
 1   days    228303 non-null  int64
 2   desc    172609 non-null  object
 3   gender  228301 non-null  object
 4   __v     228303 non-null  int64
 5   growth  113527 non-null  object
dtypes: int64(2), object(4)
memory usage: 10.5+ MB

In [5]:
baby_df.isna().sum()

_id            0
days           0
desc       55694
gender         2
__v            0
growth    114776
dtype: int64

In [6]:
baby_growth_df = baby_df.dropna(subset=['growth','gender']) # growth, gender ê²°ì¸¡ì¹˜ ì œê±°
baby_growth_df

,_id,days,desc,gender,__v,growth
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
6,5f2029e1d00f40614904254f,0,"d-1, ì˜ˆì •ì¼ë³´ë‹¤ í•˜ë£¨ë¹¨ë¦¬ íƒœì–´ë‚œ ìš°ë¦¬ ê¼¬ë¬¼ì´áƒ¦\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ..."
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ..."
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"ë¶„ìœ ì–‘ì´ ì¤„ì–´ ê±±ì •í–‡ëŠ”ë° ì˜í¬ê³ ìˆë‹¤\níƒœì–´ë‚œ ëª¸ë¬´ê²Œ ë”± 2ë°° ëêµ¬,\n\ní”¼ë¶€ ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ..."
228293,603e8290de6eeaaca4b8a535,135,ì—¬ì›ì´ ë’¤ì§‘ê¸° ë°˜ ì„±ê³µ!\në°˜ì„±ê³µì¸ ì´ìœ ëŠ” ìŠ¤ìŠ¤ë¡œ ë³„ë¡œ ë’¤ì§‘ì„ ìƒê°ì€ ì—†ìŒ\nê·¸ëŸ¬ë‚˜...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':..."
228294,603c9529c5f15932e1040246,135,"4ê°œì›” 11ì¼ (134day) ë°œë‹¬ê¸°ë¡\nêº„ë¥´ë¥´ êº„ë¥´ë¥´ ì›ƒëŠ”, ì˜ˆë»ì„œ ì£½ì„ ê²ƒ ê°™ì€...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'..."
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ..."
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."

In [7]:
baby_growth_df.isna().sum()

_id           0
days          0
desc      54050
gender        0
__v           0
growth        0
dtype: int64

In [8]:
baby_growth_df['growth']

1         {'weight': {'value': 2.77, 'unit': 'kg', 'std'...
4         {'height': {'value': 49, 'unit': 'cm', 'std': ...
6         {'height': {'value': 47, 'unit': 'cm', 'std': ...
7         {'height': {'value': 55, 'unit': 'cm', 'std': ...
10        {'height': {'value': 50, 'unit': 'cm', 'std': ...
                                ...
228292    {'height': {'value': 67, 'unit': 'cm', 'std': ...
228293    {'weight': {'value': 8.1, 'unit': 'kg', 'std':...
228294    {'height': {'value': 65.5, 'unit': 'cm', 'std'...
228297    {'height': {'value': 70, 'unit': 'cm', 'std': ...
228298    {'weight': {'value': 7.3, 'unit': 'kg', 'std':...
Name: growth, Length: 113527, dtype: object

In [9]:
import ast
baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval) # ë¬¸ìì—´ -> ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ë³€í™˜
baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x.get('height', {}).get('value', None))
baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x.get('weight', {}).get('value', None))

In [10]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, ì˜ˆì •ì¼ë³´ë‹¤ í•˜ë£¨ë¹¨ë¦¬ íƒœì–´ë‚œ ìš°ë¦¬ ê¼¬ë¬¼ì´áƒ¦\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"ë¶„ìœ ì–‘ì´ ì¤„ì–´ ê±±ì •í–‡ëŠ”ë° ì˜í¬ê³ ìˆë‹¤\níƒœì–´ë‚œ ëª¸ë¬´ê²Œ ë”± 2ë°° ëêµ¬,\n\ní”¼ë¶€ ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,ì—¬ì›ì´ ë’¤ì§‘ê¸° ë°˜ ì„±ê³µ!\në°˜ì„±ê³µì¸ ì´ìœ ëŠ” ìŠ¤ìŠ¤ë¡œ ë³„ë¡œ ë’¤ì§‘ì„ ìƒê°ì€ ì—†ìŒ\nê·¸ëŸ¬ë‚˜...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4ê°œì›” 11ì¼ (134day) ë°œë‹¬ê¸°ë¡\nêº„ë¥´ë¥´ êº„ë¥´ë¥´ ì›ƒëŠ”, ì˜ˆë»ì„œ ì£½ì„ ê²ƒ ê°™ì€...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30

In [11]:
baby_growth_df['height'].isna().sum()

69522

In [12]:
baby_growth_df['weight'].isna().sum()

1311

In [13]:
baby_growth_df[baby_growth_df['weight'].isna() & baby_growth_df['height'].isna()] # height,weight ë‘˜ ë‹¤ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„° í™•ì¸

,_id,days,desc,gender,__v,growth,height,weight
2239,63490ebc4f30a39628aefdc9,19,ì–´ì°Œì €ì°Œ ì–´ì œë³´ë‹¤ëŠ” ì˜¤ëŠ˜ í•œê²° ìˆ˜ì›”í•˜ë‹¤!\nê·¸ë˜ë„ í• ì¼ì€ ë„ˆë¬´ ë§ê³ \në„ˆê°€ ìš¸ë©´ ì–´...,M,0,"{'head': {'value': 37, 'unit': 'cm', 'std': 37}}",NaN,NaN
6393,63a96fee0ec395c9ce32feb3,54,NaN,M,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9350,6325346f204f507df3e5a1b3,78,78ì¼ì°¨ ì•„ê°€ ì„±ì¥í‘œ\n\nğŸ€ëª¨ë¹Œë„ ì¢‹ì•„í•˜ì§€ë§Œ ì´ì œëŠ” ì•„ê¸°ì²´ìœ¡ê´€ì„ ë” ì¢‹ì•„í•¨\nğŸ€ì˜...,F,0,"{'head': {'value': 41, 'unit': 'cm', 'std': 41}}",NaN,NaN
9414,638bd1daffe5f9567ae18982,79,ğŸ¤11ì‹œê°„ í†µì 4ì¼ì°¨ \nğŸ¤ë°¤ì ì‹œì‘ ì‹œê°„ì„ 7:30pmìœ¼ë¡œ ë³¸ì¸ì´ ì •í•œ ë“¯í•¨\n...,F,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9920,63639f4e7382e0031c9b5560,83,NaN,M,0,"{'head': {'value': 39.6, 'unit': 'cm', 'std': ...",NaN,NaN
...,...,...,...,...,...,...,...,...
223985,590c7241b9ede03a5c586eb9,131,NaN,M,0,"{'head': {'std': 43, 'value': 43, 'unit': 'cm'}}",NaN,NaN
224346,61080e04babd662a6282d83c,132,NaN,M,0,"{'head': {'value': 42.5, 'unit': 'cm', 'std': ...",NaN,NaN
225178,59bfb0b41787fa4328598fe9,132,NaN,M,0,"{'head': {'unit': 'cm', 'value': 43, 'std': 43}}",NaN,NaN
226391,5a1cb41c01a81b7476aa0877,133,NaN,M,0,"{'head': {'value': 42.9, 'unit': 'cm', 'std': ...",NaN,NaN
227432,5c7924b0f69662488be8eea4,134,ëˆ„ì›Œì„œ ë‚®ì ë„ ì˜ˆì˜ê²Œ ì˜ìê³ ì˜ë†€ê³ ì´ìœì§“ì„ ë§ì´ í•´ì„œ í• ì•„ë²„ì§€ê°€ í•˜ë£¨ì¢…ì¼ ì´ì˜ë‹¤ê³ ...,F,0,"{'head': {'std': 42, 'value': 42, 'unit': 'cm'}}",NaN,NaN

In [14]:
baby_growth_df = baby_growth_df.dropna(axis='index', how='all', subset=['height','weight']) # ë‘˜ ë‹¤ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„° ì œê±°

In [15]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39ì£¼6ì¼ í•œë³µì´íƒ„ìƒì¼ğŸ–¤ ë„ì¹˜ë§˜ë“±ê·¹ğŸ˜‚,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, ì˜ˆì •ì¼ë³´ë‹¤ í•˜ë£¨ë¹¨ë¦¬ íƒœì–´ë‚œ ìš°ë¦¬ ê¼¬ë¬¼ì´áƒ¦\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"ë¶„ìœ ì–‘ì´ ì¤„ì–´ ê±±ì •í–‡ëŠ”ë° ì˜í¬ê³ ìˆë‹¤\níƒœì–´ë‚œ ëª¸ë¬´ê²Œ ë”± 2ë°° ëêµ¬,\n\ní”¼ë¶€ ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,ì—¬ì›ì´ ë’¤ì§‘ê¸° ë°˜ ì„±ê³µ!\në°˜ì„±ê³µì¸ ì´ìœ ëŠ” ìŠ¤ìŠ¤ë¡œ ë³„ë¡œ ë’¤ì§‘ì„ ìƒê°ì€ ì—†ìŒ\nê·¸ëŸ¬ë‚˜...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4ê°œì›” 11ì¼ (134day) ë°œë‹¬ê¸°ë¡\nêº„ë¥´ë¥´ êº„ë¥´ë¥´ ì›ƒëŠ”, ì˜ˆë»ì„œ ì£½ì„ ê²ƒ ê°™ì€...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4ê°œì›” ì›ë”ìœ…ìŠ¤ê°€ ì´ëŸ°ê²ƒì¸ê°€..\n\në„ˆë¬´ ì•ˆì“°ëŸ° ìš¸ì• ê¸°\nëª©ìš•í•˜ê³ ì“°ëŸ¬ì§€ë“¯ ì ë“¤ë”...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30

In [16]:
baby_growth_df['gender'].unique()

array(['F', 'M', 'U'], dtype=object)

In [17]:
baby_growth_df['gender'].value_counts()

M    61139
F    52135
U       34
Name: gender, dtype: int64

In [18]:
baby_growth_df = baby_growth_df[baby_growth_df['gender'] != 'U'] # ì„±ë³„ì´ Unknownì¸ í–‰ ì‚­ì œ

In [19]:
# 'gender' column ì¶”ì¶œ
gender = baby_growth_df['gender']

# 'gender' columnì„ one-hot ì¸ì½”ë”©í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ìƒì„±
gender_onehot = pd.get_dummies(gender, prefix='gender')

# ì›ë˜ ë°ì´í„°í”„ë ˆì„ê³¼ í•©ì¹˜ê¸°
baby_growth_df = pd.concat([baby_growth_df, gender_onehot], axis=1)

# 'gender' column ì‚­ì œ
baby_growth_df = baby_growth_df.drop('gender', axis=1)

In [20]:
baby_growth_df.sort_values(by='days', inplace=True) # ìƒí›„ ì¼ ìˆ˜ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

In [21]:
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender_F,gender_M
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77,1,0
27,58a77332aa513c7c8cf0a942,0,17.02.15\nìƒˆë²½:5ì‹œ50ë¶„ -ì´ìŠ¬ë¹„ì¹¨\n\n-ê³„ì† ì•½í•œ ë°° í†µì¦ìˆìŒ \n\n...,0,"{'head': {'value': 35.5, 'std': 35.5, 'unit': ...",49.0,3.20,1,0
22,59a610cf1787fa4f4a3a1905,0,NaN,0,"{'head': {'value': 34.5, 'unit': 'cm', 'std': ...",46.5,2.77,1,0
17,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,0,1
16,5ab023294ba8ac623954eec1,0,ì²­ê°ê²€ì‚¬ ì •ìƒ,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,0,1
...,...,...,...,...,...,...,...,...,...
43779,60fd1030d88d65dfa2625762,365,NaN,0,"{'height': {'value': 79.7, 'unit': 'cm', 'std'...",79.7,10.30,0,1
43780,60e7cd722f0e2f96d8e1b099,365,ì –ë³‘ë–¼ê¸° ì—°ìŠµ.\në¹¨ëŒ€ì»µì— ë¶„ìœ ì£¼ê¸° ì‹œì‘.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",NaN,9.40,1,0
43783,60ac47a2214aa2f42de83cb8,365,NaN,0,"{'weight': {'value': 11.8, 'unit': 'kg', 'std'...",NaN,11.80,0,1
43743,625209693a0059de267cae3a,365,NaN,0,"{'weight': {'value': 3.2, 'unit': 'kg', 'std':...",NaN,3.20,1,0
54771,5e4fdd2bbf7c2d77972da014,365,ìª½ìª½ì´ ëŠê¸° 1ì¼ì°¨\n\në‚®ì 2ë²ˆ ì˜ì \n\në°¤ì ìš¸ì§„ì•Šê³ ì†ë¹¨ê±°ë‚˜ ìª½ìª½ì´ ë¹ ëŠ”í–‰...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",NaN,8.20,1,0

In [22]:
baby_growth_df['days'] = pd.to_numeric(baby_growth_df['days'])
baby_growth_df['days'].dtypes

dtype('int64')

### ì„±ë³„ì— ë”°ë¥¸ dataframe ë¶„ë¦¬

In [23]:
male_df = baby_growth_df[baby_growth_df['gender_M']==1].copy()
female_df = baby_growth_df[baby_growth_df['gender_F']==1].copy()

In [24]:
male_df.drop(['gender_F'], axis=1, inplace=True)
male_df

,_id,days,desc,__v,growth,height,weight,gender_M
17,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1
16,5ab023294ba8ac623954eec1,0,ì²­ê°ê²€ì‚¬ ì •ìƒ,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1
26,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1
57348,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",NaN,2.45,1
57352,5bc8208036373c1537505616,1,ê¸°ì¨ì´ê°€ íƒœì–´ë‚¬ì–´ìš”!!\n\nì´í‹€ ì „ë¶€í„° ì§„í†µì´ ì™”ëŠ”ë° 5ë¶„ì£¼ê¸°ì˜ ì§§ì€ ì§„í†µì€\nì•ˆ...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1
...,...,...,...,...,...,...,...,...
43754,61d011ef31bdf016f11f6542,365,ë‚´ì¼ ìƒì¼ì´ì§€ë§Œ ì˜¤ëŠ˜ ì§‘ì—ì„œ ì…€í”„ëŒìƒì°¨ë ¤ì„œ \nê°„ë‹¨í•˜ê²Œ ì‚¬ì§„ì°ì–´ì¤Œ \nì•„ì¹¨ì²«ìˆ˜í•˜ê³ ...,0,"{'weight': {'value': 10.4, 'unit': 'kg', 'std'...",NaN,10.40,1
43770,61402995d8ba22cb4efe5a4f,365,í˜¼ì ì¼ì–´ì„œê³ ë‘ì„¸ë°œì§ ë–¼ê³ ê±·ê¸°ì‹œì‘ ì•„ì§ í˜¼ìì„œ ì˜¤ë˜ì„œìˆì„ìˆœ ì—†ì§€ë§Œ ì¡°ê¸ˆì”© ì°¨ê·¼ì°¨...,0,"{'head': {'value': 48, 'unit': 'cm', 'std': 48...",NaN,11.50,1
43773,613ce981d8ba22cb4eddab90,365,ë“œë””ì–´ ìš°ë¦¬ë¦¬ìš° ì²«ëŒ í•˜ë£¨ë‚¨ì•˜ë‹¤ğŸŠ\në¦¬ìš°ê°€ ë²Œì¨ ëŒì´ë¼ë‹ˆ!\në¹„ë¡ ì”ì¹˜ëŠ” 11ì›”ë¡œ ...,0,"{'height': {'value': 82, 'unit': 'cm', 'std': ...",82.0,13.20,1
43779,60fd1030d88d65dfa2625762,365,NaN,0,"{'height': {'value': 79.7, 'unit': 'cm', 'std'...",79.7,10.30,1
43783,60ac47a2214aa2f42de83cb8,365,NaN,0,"{'weight': {'value': 11.8, 'unit': 'kg', 'std'...",NaN,11.80,1

In [25]:
female_df.drop(['gender_M'], axis=1, inplace=True)
female_df

,_id,days,desc,__v,growth,height,weight,gender_F
1,62f8dd9bc2d4a7f9032b9c8d,0,ì´ ìˆ˜ìœ ëŸ‰: 430 cc\nì†Œë³€ íšŸìˆ˜: 16\nëŒ€ë³€: 2,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77,1
27,58a77332aa513c7c8cf0a942,0,17.02.15\nìƒˆë²½:5ì‹œ50ë¶„ -ì´ìŠ¬ë¹„ì¹¨\n\n-ê³„ì† ì•½í•œ ë°° í†µì¦ìˆìŒ \n\n...,0,"{'head': {'value': 35.5, 'std': 35.5, 'unit': ...",49.0,3.20,1
22,59a610cf1787fa4f4a3a1905,0,NaN,0,"{'head': {'value': 34.5, 'unit': 'cm', 'std': ...",46.5,2.77,1
10,5e3ce41414952390ba35e28e,0,NaN,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32,1
7,5eead032fa916d81a3886820,0,NaN,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81,1
...,...,...,...,...,...,...,...,...
43765,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",NaN,9.40,1
43772,613826c0c2c8aad5e5e99981,365,NaN,0,"{'height': {'value': 76.3, 'unit': 'cm', 'std'...",76.3,10.30,1
43780,60e7cd722f0e2f96d8e1b099,365,ì –ë³‘ë–¼ê¸° ì—°ìŠµ.\në¹¨ëŒ€ì»µì— ë¶„ìœ ì£¼ê¸° ì‹œì‘.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",NaN,9.40,1
43743,625209693a0059de267cae3a,365,NaN,0,"{'weight': {'value': 3.2, 'unit': 'kg', 'std':...",NaN,3.20,1
54771,5e4fdd2bbf7c2d77972da014,365,ìª½ìª½ì´ ëŠê¸° 1ì¼ì°¨\n\në‚®ì 2ë²ˆ ì˜ì \n\në°¤ì ìš¸ì§„ì•Šê³ ì†ë¹¨ê±°ë‚˜ ìª½ìª½ì´ ë¹ ëŠ”í–‰...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",NaN,8.20,1

In [26]:
male_df.describe()

               days      __v        height        weight  gender_M
count  61139.000000  61139.0  24242.000000  60543.000000   61139.0
mean      85.686910      0.0     61.086630      6.774191       1.0
std       70.132039      0.0      8.407743     37.587581       0.0
min        0.000000      0.0      0.000000    -72.000000       1.0
25%       37.000000      0.0     57.000000      4.900000       1.0
50%       70.000000      0.0     61.300000      6.200000       1.0
75%      112.000000      0.0     65.800000      7.400000       1.0
max      365.000000      0.0    183.000000   3595.000000       1.0

In [27]:
female_df.describe()

               days      __v        height        weight  gender_F
count  52135.000000  52135.0  19742.000000  5.163900e+04   52135.0
mean      84.692145      0.0     59.363307  4.949475e+04       1.0
std       70.374731      0.0      8.229784  1.124594e+07       0.0
min        0.000000      0.0      0.000000 -7.550000e+01       1.0
25%       35.000000      0.0     55.000000  4.500000e+00       1.0
50%       70.000000      0.0     60.000000  5.700000e+00       1.0
75%      112.000000      0.0     63.900000  6.800000e+00       1.0
max      365.000000      0.0    160.000000  2.555552e+09       1.0

#### (1) KNNImputer ë¡œ ê²°ì¸¡ì¹˜ ì „ì²˜ë¦¬

In [28]:
# from sklearn.impute import KNNImputer

In [29]:
# imputer = KNNImputer(n_neighbors=5)

In [30]:
"""
# male_dfì—ì„œ height ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
male_df_height = male_df['height'].values.reshape(-1, 1)
imputed_male_df_height = imputer.fit_transform(male_df_height)
male_df['height'] = imputed_male_df_height

# female_dfì—ì„œ height ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
female_df_height = female_df['height'].values.reshape(-1, 1)
imputed_female_df_height = imputer.fit_transform(female_df_height)
female_df['height'] = imputed_female_df_height
"""

"\n# male_dfì—ì„œ height ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬\nmale_df_height = male_df['height'].values.reshape(-1, 1)\nimputed_male_df_height = imputer.fit_transform(male_df_height)\nmale_df['height'] = imputed_male_df_height\n\n# female_dfì—ì„œ height ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬\nfemale_df_height = female_df['height'].values.reshape(-1, 1)\nimputed_female_df_height = imputer.fit_transform(female_df_height)\nfemale_df['height'] = imputed_female_df_height\n"

In [31]:
"""
# male_dfì—ì„œ weight ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
male_df_weight = male_df['weight'].values.reshape(-1, 1)
imputed_male_df_weight = imputer.fit_transform(male_df_weight)
male_df['weight'] = imputed_male_df_weight

# female_dfì—ì„œ weight ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
female_df_weight = female_df['weight'].values.reshape(-1, 1)
imputed_female_df_weight = imputer.fit_transform(female_df_height)
female_df['weight'] = imputed_female_df_weight
"""

"\n# male_dfì—ì„œ weight ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬\nmale_df_weight = male_df['weight'].values.reshape(-1, 1)\nimputed_male_df_weight = imputer.fit_transform(male_df_weight)\nmale_df['weight'] = imputed_male_df_weight\n\n# female_dfì—ì„œ weight ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬\nfemale_df_weight = female_df['weight'].values.reshape(-1, 1)\nimputed_female_df_weight = imputer.fit_transform(female_df_height)\nfemale_df['weight'] = imputed_female_df_weight\n"

In [32]:
male_df.isna().sum()

_id             0
days            0
desc        29127
__v             0
growth          0
height      36897
weight        596
gender_M        0
dtype: int64

In [33]:
female_df.isna().sum()

_id             0
days            0
desc        24761
__v             0
growth          0
height      32393
weight        496
gender_F        0
dtype: int64

#### (2) ê°’ë“¤ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´

In [34]:
"""
male_df['height'] = male_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))
male_df['weight'] = male_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))
female_df['height'] = female_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))
female_df['weight'] = female_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))
"""

"\nmale_df['height'] = male_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))\nmale_df['weight'] = male_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))\nfemale_df['height'] = female_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))\nfemale_df['weight'] = female_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))\n"

#### (3) ê°’ë“¤ì˜ ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´

In [35]:
male_df['height'] = male_df.groupby('days')['height'].transform(lambda x: x.fillna(x.median()))
male_df['weight'] = male_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.median()))
female_df['height'] = female_df.groupby('days')['height'].transform(lambda x: x.fillna(x.median()))
female_df['weight'] = female_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.median()))

In [36]:
# ì´ìƒì¹˜ ì œê±° í•¨ìˆ˜
def remove_outliers(df, col):
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5*iqr
    upper_bound = q3 + 1.5*iqr
    df = df.loc[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

In [37]:
# ë‚¨ì„± ìƒí›„ ì¼ ìˆ˜ ë³„ë¡œ ê·¸ë£¹í™”
grouped_male = male_df.groupby('days')

# ê° ìƒí›„ ì¼ ìˆ˜ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°í”„ë ˆì„ì„ ì €ì¥í•  ë¹ˆ ë°ì´í„°í”„ë ˆì„ ìƒì„±
cleaned_df_male = pd.DataFrame(columns=male_df.columns)

# ìƒí›„ ì¼ ìˆ˜(days)ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°ë¥¼ cleaned_df_maleì— ì¶”ê°€
for name, group in grouped_male:
    group = remove_outliers(group, 'height')
    group = remove_outliers(group, 'weight')
    cleaned_df_male = pd.concat([cleaned_df_male, group])

In [38]:
# ì—¬ì„± ìƒí›„ ì¼ ìˆ˜ ë³„ë¡œ ê·¸ë£¹í™”
grouped_female = female_df.groupby('days')

# ê° ìƒí›„ ì¼ ìˆ˜ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°í”„ë ˆì„ì„ ì €ì¥í•  ë¹ˆ ë°ì´í„°í”„ë ˆì„ ìƒì„±
cleaned_df_female = pd.DataFrame(columns=female_df.columns)

# ìƒí›„ ì¼ ìˆ˜(days)ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°ë¥¼ cleaned_df_femaleì— ì¶”ê°€
for name, group in grouped_female:
    group = remove_outliers(group, 'height')
    group = remove_outliers(group, 'weight')
    cleaned_df_female = pd.concat([cleaned_df_female, group])

In [39]:
cleaned_df_male.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42762 entries, 17 to 43783
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       42762 non-null  object
 1   days      42762 non-null  object
 2   desc      22634 non-null  object
 3   __v       42762 non-null  object
 4   growth    42762 non-null  object
 5   height    42762 non-null  float64
 6   weight    42762 non-null  float64
 7   gender_M  42762 non-null  object
dtypes: float64(2), object(6)
memory usage: 2.9+ MB

In [40]:
cleaned_df_female.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36587 entries, 1 to 54771
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       36587 non-null  object
 1   days      36587 non-null  object
 2   desc      19273 non-null  object
 3   __v       36587 non-null  object
 4   growth    36587 non-null  object
 5   height    36587 non-null  float64
 6   weight    36587 non-null  float64
 7   gender_F  36587 non-null  object
dtypes: float64(2), object(6)
memory usage: 2.5+ MB

In [41]:
baby_growth_df = pd.concat([cleaned_df_male, cleaned_df_female], ignore_index=True)
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender_M,gender_F
0,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1,NaN
1,5ab023294ba8ac623954eec1,0,ì²­ê°ê²€ì‚¬ ì •ìƒ,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1,NaN
2,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1,NaN
3,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",51.0,2.45,1,NaN
4,5bc8208036373c1537505616,1,ê¸°ì¨ì´ê°€ íƒœì–´ë‚¬ì–´ìš”!!\n\nì´í‹€ ì „ë¶€í„° ì§„í†µì´ ì™”ëŠ”ë° 5ë¶„ì£¼ê¸°ì˜ ì§§ì€ ì§„í†µì€\nì•ˆ...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1,NaN
...,...,...,...,...,...,...,...,...,...
79344,6272a1c3e0ff637706e8a345,365,NaN,0,"{'weight': {'value': 9.6, 'unit': 'kg', 'std':...",74.6,9.60,NaN,1
79345,6225ee63f67e6cf242486ac2,365,"ì–´ì œ ëŒì”ì¹˜ë¥¼ ë¬´ì‚¬íˆ ëë‚´ê³ ë‚´ì¼ì´ë©´ ìš°ë¦¬ ì—°ì„œì˜ ì²« ìƒì¼ ì´êµ¬ë‚˜.. ë±ƒì† 10ë‹¬,...",0,"{'weight': {'value': 8.6, 'unit': 'kg', 'std':...",74.6,8.60,NaN,1
79346,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,NaN,1
79347,60e7cd722f0e2f96d8e1b099,365,ì –ë³‘ë–¼ê¸° ì—°ìŠµ.\në¹¨ëŒ€ì»µì— ë¶„ìœ ì£¼ê¸° ì‹œì‘.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,NaN,1
79348,5e4fdd2bbf7c2d77972da014,365,ìª½ìª½ì´ ëŠê¸° 1ì¼ì°¨\n\në‚®ì 2ë²ˆ ì˜ì \n\në°¤ì ìš¸ì§„ì•Šê³ ì†ë¹¨ê±°ë‚˜ ìª½ìª½ì´ ë¹ ëŠ”í–‰...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",74.6,8.20,NaN,1

In [42]:
baby_growth_df['gender_F'].fillna(0, inplace=True)
baby_growth_df['gender_M'].fillna(0, inplace=True)

In [43]:
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender_M,gender_F
0,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1,0
1,5ab023294ba8ac623954eec1,0,ì²­ê°ê²€ì‚¬ ì •ìƒ,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1,0
2,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1,0
3,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",51.0,2.45,1,0
4,5bc8208036373c1537505616,1,ê¸°ì¨ì´ê°€ íƒœì–´ë‚¬ì–´ìš”!!\n\nì´í‹€ ì „ë¶€í„° ì§„í†µì´ ì™”ëŠ”ë° 5ë¶„ì£¼ê¸°ì˜ ì§§ì€ ì§„í†µì€\nì•ˆ...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1,0
...,...,...,...,...,...,...,...,...,...
79344,6272a1c3e0ff637706e8a345,365,NaN,0,"{'weight': {'value': 9.6, 'unit': 'kg', 'std':...",74.6,9.60,0,1
79345,6225ee63f67e6cf242486ac2,365,"ì–´ì œ ëŒì”ì¹˜ë¥¼ ë¬´ì‚¬íˆ ëë‚´ê³ ë‚´ì¼ì´ë©´ ìš°ë¦¬ ì—°ì„œì˜ ì²« ìƒì¼ ì´êµ¬ë‚˜.. ë±ƒì† 10ë‹¬,...",0,"{'weight': {'value': 8.6, 'unit': 'kg', 'std':...",74.6,8.60,0,1
79346,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0,1
79347,60e7cd722f0e2f96d8e1b099,365,ì –ë³‘ë–¼ê¸° ì—°ìŠµ.\në¹¨ëŒ€ì»µì— ë¶„ìœ ì£¼ê¸° ì‹œì‘.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0,1
79348,5e4fdd2bbf7c2d77972da014,365,ìª½ìª½ì´ ëŠê¸° 1ì¼ì°¨\n\në‚®ì 2ë²ˆ ì˜ì \n\në°¤ì ìš¸ì§„ì•Šê³ ì†ë¹¨ê±°ë‚˜ ìª½ìª½ì´ ë¹ ëŠ”í–‰...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",74.6,8.20,0,1

In [44]:
baby_growth_df.isna().sum()

_id             0
days            0
desc        37442
__v             0
growth          0
height          0
weight          0
gender_M        0
gender_F        0
dtype: int64

In [45]:
baby_growth_df['gender'] = 0
baby_growth_df.loc[baby_growth_df['gender_M'] == True, 'gender'] = 1

In [46]:
baby_growth_df.drop(['gender_M', 'gender_F'], axis = 1, inplace = True)

In [47]:
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender
0,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1
1,5ab023294ba8ac623954eec1,0,ì²­ê°ê²€ì‚¬ ì •ìƒ,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1
2,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1
3,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",51.0,2.45,1
4,5bc8208036373c1537505616,1,ê¸°ì¨ì´ê°€ íƒœì–´ë‚¬ì–´ìš”!!\n\nì´í‹€ ì „ë¶€í„° ì§„í†µì´ ì™”ëŠ”ë° 5ë¶„ì£¼ê¸°ì˜ ì§§ì€ ì§„í†µì€\nì•ˆ...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1
...,...,...,...,...,...,...,...,...
79344,6272a1c3e0ff637706e8a345,365,NaN,0,"{'weight': {'value': 9.6, 'unit': 'kg', 'std':...",74.6,9.60,0
79345,6225ee63f67e6cf242486ac2,365,"ì–´ì œ ëŒì”ì¹˜ë¥¼ ë¬´ì‚¬íˆ ëë‚´ê³ ë‚´ì¼ì´ë©´ ìš°ë¦¬ ì—°ì„œì˜ ì²« ìƒì¼ ì´êµ¬ë‚˜.. ë±ƒì† 10ë‹¬,...",0,"{'weight': {'value': 8.6, 'unit': 'kg', 'std':...",74.6,8.60,0
79346,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0
79347,60e7cd722f0e2f96d8e1b099,365,ì –ë³‘ë–¼ê¸° ì—°ìŠµ.\në¹¨ëŒ€ì»µì— ë¶„ìœ ì£¼ê¸° ì‹œì‘.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0
79348,5e4fdd2bbf7c2d77972da014,365,ìª½ìª½ì´ ëŠê¸° 1ì¼ì°¨\n\në‚®ì 2ë²ˆ ì˜ì \n\në°¤ì ìš¸ì§„ì•Šê³ ì†ë¹¨ê±°ë‚˜ ìª½ìª½ì´ ë¹ ëŠ”í–‰...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",74.6,8.20,0

In [48]:
baby_growth_df['days'].dtypes

dtype('O')

In [49]:
baby_growth_df['days'] = pd.to_numeric(baby_growth_df['days'])
baby_growth_df['days'].dtypes

dtype('int64')

### ë°ì´í„° ëª¨ë¸ë§

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [57]:
# ë…ë¦½ ë³€ìˆ˜ì™€ ì¢…ì† ë³€ìˆ˜ ë¶„ë¦¬
X = baby_growth_df[['days','gender','weight']]
y = baby_growth_df['height']

# train/test ë°ì´í„° ë¶„ë¦¬, ì„±ë³„ ë¹„ì¤‘ ìœ ì§€
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=X['gender'], random_state=42)

### (1) LinearRegression height ì˜ˆì¸¡ ëª¨ë¸

In [67]:
# linear regression ëª¨ë¸ í•™ìŠµ
lr = LinearRegression()
lr.fit(X_train, y_train)

# test ë°ì´í„°ë¡œ ì˜ˆì¸¡
y_pred = lr.predict(X_test)

# ëª¨ë¸ ì„±ëŠ¥ í‰ê°€
r2 = r2_score(y_test, y_pred)
print('R-squared:', r2)

# MSE í‰ê°€
mse = mean_squared_error(y_test, y_pred)
print("LinearRegression MSE:", mse)

# ì •í™•ë„ í‰ê°€
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(lr.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(lr.score(X_test, y_test)))

R-squared: 0.94736656441768
LinearRegression MSE: 1.9618462096449039
í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.947
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.947

### (3) RandomForestRegressor - height ì˜ˆì¸¡ ëª¨ë¸

In [59]:
# RandomForestRegressor ëª¨ë¸ ê°ì²´ ìƒì„±
rf = RandomForestRegressor(random_state=42)

# ëª¨ë¸ í•™ìŠµ
rf.fit(X_train, y_train)

# ëª¨ë¸ í‰ê°€ - ì˜ˆì¸¡ê°’ ìƒì„±
y_pred = rf.predict(X_test)

# ëª¨ë¸ í‰ê°€ - í‰ê·  ì œê³± ì˜¤ì°¨ ê³„ì‚°
mse = mean_squared_error(y_test, y_pred)
print("RandomForestRegressor Mean Squared Error:", mse)

# ì •í™•ë„ í‰ê°€
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(rf.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(rf.score(X_test, y_test)))

RandomForestRegressor Mean Squared Error: 0.22900828482437882
í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.996
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.994

### (2) XGBRegressor - height ì˜ˆì¸¡ ëª¨ë¸

In [65]:
# ëª¨ë¸ ê°ì²´ ìƒì„±
xgb_model = XGBRegressor(objective='reg:squarederror', tree_method='hist', random_state=42)

# ëª¨ë¸ í•™ìŠµ
xgb_model.fit(X_train, y_train)

# ê²€ì¦ìš© ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ì˜ˆì¸¡ ìˆ˜í–‰
y_pred = xgb_model.predict(X_test)

# ëª¨ë¸ ì„±ëŠ¥ í‰ê°€
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"xgboost MSE: {mse:.3f}")
print(f"xgboost MAE: {mae:.3f}")
print(f"xgboost R-squared: {r2:.3f}")

# ì •í™•ë„ í‰ê°€
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(xgb_model.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(xgb_model.score(X_test, y_test)))

xgboost MSE: 0.270
xgboost MAE: 0.224
xgboost R-squared: 0.993
í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.993
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.993

### RandomForestRegressor hyperparameter tuning

In [61]:
from sklearn.model_selection import GridSearchCV

# í•˜ì´í¼íŒŒë¼ë¯¸í„° í›„ë³´ ê°’ë“¤
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [5, 10, 20],
    'min_samples_split': [2, 5, 10]
}

# GridSearchCV ìˆ˜í–‰
rf = RandomForestRegressor(random_state=42)
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# ìµœì ì˜ í•˜ì´í¼íŒŒë¼ë¯¸í„°ì™€ ê·¸ ë•Œì˜ ì„±ëŠ¥ ì¶œë ¥
print("Best hyperparameters:", grid_search.best_params_)
print("Best CV score:", -grid_search.best_score_)

# ìµœì ì˜ í•˜ì´í¼íŒŒë¼ë¯¸í„°ë¡œ ëª¨ë¸ í•™ìŠµ ë° í‰ê°€
rf_best = RandomForestRegressor(n_estimators=grid_search.best_params_['n_estimators'],
                                 max_depth=grid_search.best_params_['max_depth'],
                                 min_samples_split=grid_search.best_params_['min_samples_split'],
                                 random_state=42)
rf_best.fit(X_train, y_train)
y_pred_rf = rf_best.predict(X_test)
print("Test MSE:", mean_squared_error(y_test, y_pred_rf))

# ì •í™•ë„ í‰ê°€
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(rf_best.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(rf_best.score(X_test, y_test)))

Best hyperparameters: {'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 200}
Best CV score: 0.2224208117451091
Test MSE: 0.22084659144247845
í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.995
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.994

### (2) LightGBM - height ì˜ˆì¸¡ ëª¨ë¸

In [62]:
# LightGBM ëª¨ë¸ë§
lgbm = LGBMRegressor(random_state=42)
lgbm.fit(X_train, y_train)

# ì˜ˆì¸¡ê°’ ìƒì„±
y_pred = lgbm.predict(X_test)

# MSE í‰ê°€
mse = mean_squared_error(y_test, y_pred)
print("lightGBM MSE:", mse)

# ì •í™•ë„ í‰ê°€
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(lgbm.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(lgbm.score(X_test, y_test)))

lightGBM MSE: 0.2597719181729348
í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.993
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.993

### (2) GradientBoosting - height ì˜ˆì¸¡ ëª¨ë¸

In [63]:
# Gradient Boosting ëª¨ë¸ í•™ìŠµ
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, y_train)

# ëª¨ë¸ ì˜ˆì¸¡
y_pred = gb_model.predict(X_test)

# ëª¨ë¸ í‰ê°€
mse = mean_squared_error(y_test, y_pred)
print("GradientBoostingRegressor MSE:", mse)

# ì •í™•ë„ í‰ê°€
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(gb_model.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.3f}".format(gb_model.score(X_test, y_test)))

GradientBoostingRegressor MSE: 0.3160489057082565
í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.992
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.992

In [64]:
# ì‚¬ìš©ìë¡œë¶€í„° ë°ì´í„° ì…ë ¥ë°›ê¸°
input_days = int(input("ìƒí›„ ì¼ ìˆ˜ë¥¼ ì…ë ¥í•˜ì„¸ìš”: "))
input_height = float(input("ì•„ê¸°ì˜ í˜„ì¬ í‚¤ë¥¼ ì…ë ¥í•˜ì„¸ìš” (ë‹¨ìœ„: cm): "))
input_weight = float(input("ì•„ê¸°ì˜ í˜„ì¬ ëª¸ë¬´ê²Œë¥¼ ì…ë ¥í•˜ì„¸ìš” (ë‹¨ìœ„: kg): "))
input_gender = input("ì•„ê¸°ì˜ ì„±ë³„ì„ ì…ë ¥í•˜ì„¸ìš” (F/M): ")

# ì…ë ¥ë°›ì€ ë°ì´í„°ë¡œ 1ê°œì›”, 3ê°œì›”, 6ê°œì›” ë’¤ì˜ í‚¤ ì˜ˆì¸¡
if input_gender == 'F':
    gender = 0
elif input_gender == 'M':
    gender = 1
else:
    print("ì„±ë³„ì€ 'F' ë˜ëŠ” 'M' ì¤‘ì—ì„œ ì…ë ¥í•´ì£¼ì„¸ìš”.")
    exit()
# weight code merge
one_month_pred = rf_best.predict([[input_days + 30, gender, input_weight]]) # 30ì¼ ë’¤ ì˜ˆì¸¡ weight ê°’ ì‚¬ìš© ì˜ˆì •
three_month_pred = rf_best.predict([[input_days + 90, gender, input_weight]]) # 90ì¼ ë’¤ ì˜ˆì¸¡ weight ê°’ ì‚¬ìš© ì˜ˆì •
six_month_pred = rf_best.predict([[input_days + 180, gender, input_weight]]) # 180ì¼ ë’¤ ì˜ˆì¸¡ weight ê°’ ì‚¬ìš© ì˜ˆì •

# ê²°ê³¼ ì¶œë ¥
print(f"ì•„ê¸°ì˜ 1ê°œì›” ë’¤ ì˜ˆìƒ í‚¤ëŠ” {one_month_pred[0]:.1f}cm ì…ë‹ˆë‹¤.")
print(f"ì•„ê¸°ì˜ 3ê°œì›” ë’¤ ì˜ˆìƒ í‚¤ëŠ” {three_month_pred[0]:.1f}cm ì…ë‹ˆë‹¤.")
print(f"ì•„ê¸°ì˜ 6ê°œì›” ë’¤ ì˜ˆìƒ í‚¤ëŠ” {six_month_pred[0]:.1f}cm ì…ë‹ˆë‹¤.")

ì•„ê¸°ì˜ 1ê°œì›” ë’¤ ì˜ˆìƒ í‚¤ëŠ” 68.9cm ì…ë‹ˆë‹¤.
ì•„ê¸°ì˜ 3ê°œì›” ë’¤ ì˜ˆìƒ í‚¤ëŠ” 72.6cm ì…ë‹ˆë‹¤.
ì•„ê¸°ì˜ 6ê°œì›” ë’¤ ì˜ˆìƒ í‚¤ëŠ” 76.3cm ì…ë‹ˆë‹¤.