In [1]:
from sklearn.impute import KNNImputer
import pandas as pd
import numpy as np
import ast

In [2]:
baby_df = pd.read_csv("./babyInfo.csv")
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [3]:
baby_growth_df = baby_df.dropna(subset=['growth','gender']) 
# growth, gender ê²°ì¸¡ì¹˜ ì œê±°

In [4]:
baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval) 
# ë¬¸ìì—´ -> ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ë³€í™˜
baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x.get('height', {}).get('value', None))
baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x.get('weight', {}).get('value', None))

C:\Users\82108\AppData\Local\Temp\ipykernel_11472\3092223480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval)
C:\Users\82108\AppData\Local\Temp\ipykernel_11472\3092223480.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x.get('height', {}).get('value', None))
C:\Users\82108\AppData\Local\Temp\ipykernel_11472\3092223480.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x.get('weight', {}).get('value', None))

In [5]:
baby_growth_df[baby_growth_df['weight'].isna() & baby_growth_df['height'].isna()] 
# height,weight ë‘˜ ë‹¤ ê²°ì¸¡ì¹˜ì¸ í–‰ í™•ì¸

,_id,days,desc,gender,__v,growth,height,weight
2239,63490ebc4f30a39628aefdc9,19,ì–´ì°Œì €ì°Œ ì–´ì œë³´ë‹¤ëŠ” ì˜¤ëŠ˜ í•œê²° ìˆ˜ì›”í•˜ë‹¤!\nê·¸ë˜ë„ í• ì¼ì€ ë„ˆë¬´ ë§ê³ \në„ˆê°€ ìš¸ë©´ ì–´...,M,0,"{'head': {'value': 37, 'unit': 'cm', 'std': 37}}",NaN,NaN
6393,63a96fee0ec395c9ce32feb3,54,NaN,M,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9350,6325346f204f507df3e5a1b3,78,78ì¼ì°¨ ì•„ê°€ ì„±ì¥í‘œ\n\nğŸ€ëª¨ë¹Œë„ ì¢‹ì•„í•˜ì§€ë§Œ ì´ì œëŠ” ì•„ê¸°ì²´ìœ¡ê´€ì„ ë” ì¢‹ì•„í•¨\nğŸ€ì˜...,F,0,"{'head': {'value': 41, 'unit': 'cm', 'std': 41}}",NaN,NaN
9414,638bd1daffe5f9567ae18982,79,ğŸ¤11ì‹œê°„ í†µì 4ì¼ì°¨ \nğŸ¤ë°¤ì ì‹œì‘ ì‹œê°„ì„ 7:30pmìœ¼ë¡œ ë³¸ì¸ì´ ì •í•œ ë“¯í•¨\n...,F,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9920,63639f4e7382e0031c9b5560,83,NaN,M,0,"{'head': {'value': 39.6, 'unit': 'cm', 'std': ...",NaN,NaN
...,...,...,...,...,...,...,...,...
223985,590c7241b9ede03a5c586eb9,131,NaN,M,0,"{'head': {'std': 43, 'value': 43, 'unit': 'cm'}}",NaN,NaN
224346,61080e04babd662a6282d83c,132,NaN,M,0,"{'head': {'value': 42.5, 'unit': 'cm', 'std': ...",NaN,NaN
225178,59bfb0b41787fa4328598fe9,132,NaN,M,0,"{'head': {'unit': 'cm', 'value': 43, 'std': 43}}",NaN,NaN
226391,5a1cb41c01a81b7476aa0877,133,NaN,M,0,"{'head': {'value': 42.9, 'unit': 'cm', 'std': ...",NaN,NaN
227432,5c7924b0f69662488be8eea4,134,ëˆ„ì›Œì„œ ë‚®ì ë„ ì˜ˆì˜ê²Œ ì˜ìê³ ì˜ë†€ê³ ì´ìœì§“ì„ ë§ì´ í•´ì„œ í• ì•„ë²„ì§€ê°€ í•˜ë£¨ì¢…ì¼ ì´ì˜ë‹¤ê³ ...,F,0,"{'head': {'std': 42, 'value': 42, 'unit': 'cm'}}",NaN,NaN

In [6]:
baby_growth_df = baby_growth_df.dropna(axis='index', how='all', subset=['height','weight']) 
# ë‘˜ ë‹¤ ê²°ì¸¡ì¹˜ì¸ í–‰ ì œê±°

In [7]:
baby_growth_df = baby_growth_df[baby_growth_df['gender'] != 'U'] 
# ì„±ë³„ì´ Unknownì¸ í–‰ ì‚­ì œ

In [8]:
# 'gender' column ì¶”ì¶œ
gender = baby_growth_df['gender']

# 'gender' columnì„ one-hot ì¸ì½”ë”©í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ìƒì„±
gender_onehot = pd.get_dummies(gender, prefix='gender')

# ì›ë˜ ë°ì´í„°í”„ë ˆì„ê³¼ í•©ì¹˜ê¸°
baby_growth_df = pd.concat([baby_growth_df, gender_onehot], axis=1)

# 'gender' column ì‚­ì œ
baby_growth_df = baby_growth_df.drop('gender', axis=1)

In [9]:
baby_growth_df.sort_values(by='days', inplace=True) # ìƒí›„ ê°œì›” ìˆ˜ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

In [10]:
baby_growth_df['days'] = pd.to_numeric(baby_growth_df['days'])

In [11]:
male_df = baby_growth_df[baby_growth_df['gender_M']==1].copy()
female_df = baby_growth_df[baby_growth_df['gender_F']==1].copy()

In [12]:
male_df.drop(['gender_F'], axis=1, inplace=True)

In [13]:
female_df.drop(['gender_M'], axis=1, inplace=True)

## ê²°ì¸¡ì¹˜ ì²˜ë¦¬ - KNNImputer

In [14]:
imputer = KNNImputer(n_neighbors=5)

In [15]:
# male_dfì—ì„œ height ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
male_df_height = male_df['height'].values.reshape(-1, 1)
imputed_male_df_height = imputer.fit_transform(male_df_height)
male_df['height'] = imputed_male_df_height

# female_dfì—ì„œ height ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
female_df_height = female_df['height'].values.reshape(-1, 1)
imputed_female_df_height = imputer.fit_transform(female_df_height)
female_df['height'] = imputed_female_df_height

In [16]:
# male_dfì—ì„œ weight ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
male_df_weight = male_df['weight'].values.reshape(-1, 1)
imputed_male_df_weight = imputer.fit_transform(male_df_weight)
male_df['weight'] = imputed_male_df_weight

# female_dfì—ì„œ weight ì¹¼ëŸ¼ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬
female_df_weight = female_df['weight'].values.reshape(-1, 1)
imputed_female_df_weight = imputer.fit_transform(female_df_height)
female_df['weight'] = imputed_female_df_weight

In [17]:
male_df['height'] = male_df.groupby('days')['height'].transform(lambda x: x.fillna(x.median()))
male_df['weight'] = male_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.median()))
female_df['height'] = female_df.groupby('days')['height'].transform(lambda x: x.fillna(x.median()))
female_df['weight'] = female_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.median()))

In [18]:
# ì´ìƒì¹˜ ì œê±° í•¨ìˆ˜
def remove_outliers(df, col):
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5*iqr
    upper_bound = q3 + 1.5*iqr
    df = df.loc[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

In [19]:
# ë‚¨ì„± ìƒí›„ ì¼ ìˆ˜ ë³„ë¡œ ê·¸ë£¹í™”
grouped_male = male_df.groupby('days')

# ê° ìƒí›„ ì¼ ìˆ˜ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°í”„ë ˆì„ì„ ì €ì¥í•  ë¹ˆ ë°ì´í„°í”„ë ˆì„ ìƒì„±
cleaned_df_male = pd.DataFrame(columns=male_df.columns)

# ìƒí›„ ì¼ ìˆ˜(days)ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°ë¥¼ cleaned_df_maleì— ì¶”ê°€
for name, group in grouped_male:
    group = remove_outliers(group, 'height')
    group = remove_outliers(group, 'weight')
    cleaned_df_male = pd.concat([cleaned_df_male, group])

In [20]:
# ì—¬ì„± ìƒí›„ ì¼ ìˆ˜ ë³„ë¡œ ê·¸ë£¹í™”
grouped_female = female_df.groupby('days')

# ê° ìƒí›„ ì¼ ìˆ˜ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°í”„ë ˆì„ì„ ì €ì¥í•  ë¹ˆ ë°ì´í„°í”„ë ˆì„ ìƒì„±
cleaned_df_female = pd.DataFrame(columns=female_df.columns)

# ìƒí›„ ì¼ ìˆ˜(days)ë³„ë¡œ ì´ìƒì¹˜ ì œê±°ëœ ë°ì´í„°ë¥¼ cleaned_df_femaleì— ì¶”ê°€
for name, group in grouped_female:
    group = remove_outliers(group, 'height')
    group = remove_outliers(group, 'weight')
    cleaned_df_female = pd.concat([cleaned_df_female, group])

In [21]:
baby_growth_df = pd.concat([cleaned_df_male, cleaned_df_female], ignore_index=True)

,_id,days,desc,__v,growth,height,weight,gender_M,gender_F
0,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.000000,3.780000,1,NaN
1,5ab023294ba8ac623954eec1,0,ì²­ê°ê²€ì‚¬ ì •ìƒ,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.000000,3.780000,1,NaN
2,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.000000,3.200000,1,NaN
3,5bc8208036373c1537505616,1,ê¸°ì¨ì´ê°€ íƒœì–´ë‚¬ì–´ìš”!!\n\nì´í‹€ ì „ë¶€í„° ì§„í†µì´ ì™”ëŠ”ë° 5ë¶„ì£¼ê¸°ì˜ ì§§ì€ ì§„í†µì€\nì•ˆ...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.000000,2.800000,1,NaN
4,5bc84dbc5f7de302e608c4b7,1,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.51, 'std'...",51.500000,3.510000,1,NaN
...,...,...,...,...,...,...,...,...,...
93783,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",59.363307,59.363307,NaN,1
93784,613826c0c2c8aad5e5e99981,365,NaN,0,"{'height': {'value': 76.3, 'unit': 'cm', 'std'...",76.300000,76.300000,NaN,1
93785,60e7cd722f0e2f96d8e1b099,365,ì –ë³‘ë–¼ê¸° ì—°ìŠµ.\në¹¨ëŒ€ì»µì— ë¶„ìœ ì£¼ê¸° ì‹œì‘.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",59.363307,59.363307,NaN,1
93786,625209693a0059de267cae3a,365,NaN,0,"{'weight': {'value': 3.2, 'unit': 'kg', 'std':...",59.363307,59.363307,NaN,1
93787,5e4fdd2bbf7c2d77972da014,365,ìª½ìª½ì´ ëŠê¸° 1ì¼ì°¨\n\në‚®ì 2ë²ˆ ì˜ì \n\në°¤ì ìš¸ì§„ì•Šê³ ì†ë¹¨ê±°ë‚˜ ìª½ìª½ì´ ë¹ ëŠ”í–‰...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",59.363307,59.363307,NaN,1

In [22]:
baby_growth_df['gender_F'].fillna(0, inplace=True)
baby_growth_df['gender_M'].fillna(0, inplace=True)

In [23]:
baby_growth_df['gender'] = 0
baby_growth_df.loc[baby_growth_df['gender_M'] == True, 'gender'] = 1

In [24]:
baby_growth_df.drop(['gender_M', 'gender_F'], axis = 1, inplace = True)

In [28]:
baby_growth_df['gender']

0        1
1        1
2        1
3        1
4        1
        ..
93783    0
93784    0
93785    0
93786    0
93787    0
Name: gender, Length: 93788, dtype: int64

## í˜„ì¬ ì„±ì¥ì •ë„ ì˜ˆì¸¡

In [29]:
input_gender, input_days, input_height, input_weight = map(float, input().split(','))

1.0, 3.0, 55.0, 4.5

In [30]:
compare_df = baby_growth_df[(baby_growth_df['gender'] == input_gender) 
                            & (baby_growth_df['days'] == input_days)]
# ìƒí›„ì¼ìˆ˜ì™€ ì„±ë³„ì´ ë™ì¼í•œ ì•„ì´ë“¤ì˜ ì§‘í•© ë°ì´í„°í”„ë ˆì„

In [31]:
height_rank = (compare_df['height'] > input_height).sum() + 1
weight_rank = (compare_df['weight'] > input_weight).sum() + 1

height_percent = height_rank/len(compare_df)
weight_percent = weight_rank/len(compare_df)

In [32]:
print("ì•„ì´ì˜ ì‹ ì¥ì€ ìƒìœ„ %.2f%% ì…ë‹ˆë‹¤." %height_percent)
print("ì•„ì´ì˜ ì²´ì¤‘ì€ ìƒìœ„ %.2f%% ì…ë‹ˆë‹¤." %weight_percent)

ì•„ì´ì˜ ì‹ ì¥ì€ ìƒìœ„ 0.61% ì…ë‹ˆë‹¤.
ì•„ì´ì˜ ì²´ì¤‘ì€ ìƒìœ„ 0.01% ì…ë‹ˆë‹¤.